@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0%;
    margin: 0%;
    font-family: 'raleway';
}

body{
    background-color: rgb(196, 188, 172);
}

header{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #b6933a;
    padding: 11px;
    border-bottom: 5px solid;
    border-color: rgb(143, 131, 100); 
}

header img{
    width: 140px;
}

h1{
    text-align: center;
    color: rgb(61, 52, 52);
    margin-top: 20px;
}

.container{
    padding: 2rem;
}

.slider-wrapper{
    position: relative;
    max-width: 48rem;
    margin: 0% auto;
}

.slider{
    display: flex;
    aspect-ratio:  16 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem hsla(0, 0%, 0%, 0.25);
    overflow: hidden;
    border-radius: 7px;
}

.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;

}

.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    z-index: 1;
    transform: translate(-50%);
}

.slider-nav a{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover{
    opacity: 1;
}

.texto p{
    margin-left: 50px;
    margin-right: 50px;
    align-items: center;
    font-size: 18px;
    font-weight: 480;
   
}

.texto h1{
    font-size: 38px;
    text-transform: uppercase;
    padding: 10px;
}

#blocos{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    font-weight: 500;
    color: white;
    
}

#blocos h2{
    text-align: center;
    margin: 5px;
    color: white;
    font-weight: 700;

}

.bloco1{
    background-color: #7a7550;
    margin-top: 10px;
    padding: 10px 10px 10px 10px;
    border-radius: 7px;
    border: 2px solid rgb(168, 165, 119);
}

.bloco2{
    background-color: #69643f;
    margin-top: 10px;
    padding: 10px 10px 10px 10px;
    border-radius: 7px;
    border: 2px solid rgb(168, 165, 119);
}

.bloco3{
    background-color: #524f2e;
    margin-top: 10px;
    padding: 10px 10px 10px 10px;
    border-radius: 7px;
    border: 2px solid rgb(168, 165, 119);
}

footer{
    margin-top: 40px;
    padding: 5px;
    background-color: #b6933a;
    border-top: 5px solid;
    border-color: rgb(143, 131, 100);
}

.rodape{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-weight: 500;
    font-size: 22px;
    color: white;
}

.rodape img{
    width: 60px;
    margin-left: 10px;
}

.rodape a{
    cursor: pointer;
}

@media (max-width: 580px) {

    .bloco1{
        margin-top: 0px;
    }
    
    #blocos{
        gap: 0;
        display: flex;
        flex-direction: column;
    }

    .rodape{
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        font-weight: 550;
        font-size: 16px;
    }
    
    .rodape img{
        width: 60px;
        margin-left: 2px;
    }

    .texto p{
        margin-left: 20px;
        margin-right: 20px;
        align-items: center;
        font-size: 18px;
        font-weight: 480;
       
    }
    
}
